.content {
  display: inline;
  justify-content: center;
  background-image: url("../../Images/FondoB&W.jpg");
}

.contentRecipeDetails {
  background-image: url("../../Images/Fondo-Details.jpg");
  border-image-repeat: repeat;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.tituloNameRecipeDetails {
  color: white;
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 50px;
}

.tituloRecipeDetails {
  background-color: black;
  color: white;
  font-size: large;
  font-size: 25px;
}

.detalleRecipeDetails {
  background-color: rgb(0, 0, 0);
  color: rgb(189, 192, 34);
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 2%;
  text-align: center;
}

.contentRecipeDetails img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.detalleRecipeDescription {
  background-color: rgb(0, 0, 0);
  color: rgb(189, 192, 34);
  margin: 10px auto;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 2%;
  text-align: justify;
}

/* INSTRUCCIONES */

.detalleRecipeSteps {
  background-color: black;
  color: rgb(189, 192, 34);
  font-size: large;
  font-weight: 500;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  padding-bottom: 2%;
}

.contentRecipeDetails img {
  border: 10px solid darkorange;
  object-fit: cover;
}

h2 {
  font-size: 40px;
}

/* BOTON PARA VOLVER */

.buttonVolver {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: solid 4px rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 3%;
}

.buttonVolver:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: solid 4px rgb(255, 255, 255);
}
