.contentRecipeDetails {
    background-color: teal;
}

.tituloNameRecipeDetails {

}

.tituloRecipeDetails {
    color: white;
    font-size: large;

}

.detalleRecipeDetails {
color: rgb(189, 192, 34);
font-size: medium;
}