.cardRecipe {
  box-shadow: 5px 8px 10px 0 rgba(5, 1, 0, 0.5); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-image: url("../../Images/Post-it.jpg");
  background-size: cover;
  margin: auto;
  background-position: center;
}

.contentRecipe {
  text-align: center;
  font-size: 20px;
  width: 50px min-content;
  height: 50px min-content;
}

.nameRecipe {
  font-size: xx-large;
  color: white;
}

.dietsRecipe {
  font-size: large;
  color: rgb(250, 213, 4);
}
