.content {
  /* background-image: url("../../Images/FondoB&W.jpg"); */
  background-image: url("../../Images/blackandwithstuffLIGHT.jpg");
}

.recipes {
  display: inline-block;
  align-content: flex-start;
  height: min-content 12%;
  width: 27%;
  padding: 2%;
}

/* SELECTS */

.containerSelect {
  display: flex;
  justify-content: center;
  background-color: rgb(202, 200, 200);
  padding: 10px;
  margin-bottom: 40px;
}

.containerSelect select {
  padding: 10px;
  font-size: medium;
  font-weight: 400;
  border-radius: 5px;
  margin: 10px;
}

.containerSelect label {
  padding: 10px;
  font-size: x-large;
  font-weight: 500;
  /* color: white; */
  color: rgb(0, 0, 0);
}

.containerSelect select option {
  padding: 10px;
  font-size: medium;
  font-weight: 300;
}
