.footerElements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  background-color: rgb(147, 15, 8);
  align-items: center;
}

.span {
  color: white;
  font-size: large;
}

.footerIcon  {
  width: 100px;
  padding: 15px;
  border-radius: 12px;
}
