.footerElements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  background-color: black;
  align-items: center;
}

.footerElements img {
  width: 100px;
}

.span {
  color: white;
  font-size: medium;
}

.footerIcon {
  width: 100px;
  padding: 15px;
}
