.pagination {
    background-color: black;
    padding: 8px;
}

.number {
    display: inline-flex;
    flex-direction: row;
    margin: 5px;
}

.numberA {
    padding: 10px 20px;
    border: solid 2px black;
    background-color: darkorange;
    font-weight: 700;
    font-size: large;
}